@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
  box-sizing: border-box;
}

body {
  font-family: "Asap", Asap, sans-serif;
  margin: 0;
}

h2{
  text-align: center;
  font-size: 2rem;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav nav'
    'hero hero hero hero'
    'headerData headerData headerData headerData'
    'leftData middleLeftData middleRightData rightData'
    'headerProject headerProject headerProject headerProject'
    'leftProject middleProject middleProject rightProject'
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.nav {
  border-bottom: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav ul {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.nav li {
  width: 20%;
  float: left;
}
.nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 3rem;
}

.nav a:hover {
  background-color: lightgray;
}

a:active {
  background-color: rgb(29, 29, 29);
  color: white;
}

.hero {
  background:url("images/stocks.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  grid-area: hero;
}

.herotext {
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bodyText{
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

/* Style the right column */
.rightAbout {
  grid-area: rightAbout;
}

/* Style the footer */
.headerData {
  grid-area: headerData;
  padding: 0px;
  text-align: center;
}

.rightData, .middleRightData, .middleLeftData, .leftData{
  height: 150px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.rightData{
  grid-area: rightData;
}

.middleRightData{
  grid-area: middleRightData;
}

.middleLeftData{
  grid-area: middleLeftData;
}

.leftData{
  grid-area: leftData;
}

.headerProject{
  grid-area: headerProject;
  padding: 0px;
  text-align: center;
}

.rightProject{
  grid-area: rightProject;
}

.middleProject{
  grid-area: middleProject;
}

.leftProject{
  grid-area: leftProject;
}



h3, h4 {
  margin: 0;
  text-align: center;
}

h4 {
  color: green;
}
