@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
  box-sizing: border-box;
}

body {
  font-family: "Asap", Asap, sans-serif;
  margin: 0;
}

h2{
  text-align: center;
  font-size: 2rem;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav nav'
    'hero hero hero hero'
    'headerData headerData headerData headerData'
    'leftData middleLeftData middleRightData rightData'
    'headerProject headerProject headerProject headerProject'
    'leftProject middleProject middleProject rightProject'
    'headerAnalysis headerAnalysis headerAnalysis headerAnalysis'
    'leftAnalysis middleLeftAnalysis middleRightAnalysis rightAnalysis'
    'graph graph graph graph'
    'footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.nav {
  z-index: 10;
  border-bottom: 1px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav ul {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.nav li {
  height: 100%;
  float: left;
}

#faq {
  float: right;
}

.nav a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 3rem;
}

.nav a:hover {
  background-color: lightgray;
}

a:active {
  background-color: rgb(29, 29, 29);
  color: white;
}

.hero {
  background:url("images/stocks.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  grid-area: hero;
}

.herotext {
  padding: 2rem;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  color: white;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.bodyText{
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

/* Style the right column */
.rightAbout {
  grid-area: rightAbout;
}

/* Style the footer */
.headerData {
  grid-area: headerData;
  padding: 0px;
  text-align: center;
}

.rightData, .middleRightData, .middleLeftData, .leftData{
  height: auto;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.rightData{
  grid-area: rightData;
}

.middleRightData{
  grid-area: middleRightData;
}

.middleLeftData{
  grid-area: middleLeftData;
}

.leftData{
  grid-area: leftData;
}

.headerProject{
  grid-area: headerProject;
  padding: 0px;
  text-align: center;
}

.rightProject{
  grid-area: rightProject;
}

.middleProject{
  grid-area: middleProject;
}

.leftProject{
  grid-area: leftProject;
}

.headerAnalysis{
  grid-area: headerAnalysis;
}

.leftAnalysis, .middleLeftAnalysis, .middleRightAnalysis, .rightAnalysis{
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.leftAnalysis{
  grid-area: leftAnalysis;
}

.middleLeftAnalysis{
  grid-area: middleLeftAnalysis;
}

.middleRightAnalysis{
  grid-area: middleRightAnalysis;
}

.rightAnalysis{
  grid-area: rightAnalysis;
}

.graph{
  grid-area: graph;
  background-image: url("images/graph.png");
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size: contain;
  height: 500px;
}

.footer{
  margin-top: 50px;
  grid-area: footer;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}



h3, h4 {
  margin: 0;
  text-align: center;
}

h4 {
  color: green;
}
