<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a simple economics website">
    <title>Simple Economics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <script>
        function spoiler() {
          document.getElementById('data').style.overflow = "auto";
          document.getElementById('data').style.height = "100%";
          document.getElementById('button').style.display = "none";
        }
    </script>
  </head>
  <body>
    <div class="nav">
      <a href="/#query" class="navelement" id="back">◄ BACK</a>

      <div class="dropdown">
        <a id="dropbtn" class="navelement">≡</a>
        <div class="dropdown-content">
          <a href="/#query" class="navelement">QUERY our DATA</a>
          <a href="/#data" class="navelement">ABOUT the DATA</a>
          <a href="/#faq" class="navelement" id="faq">FAQ</a>
        </div>
      </div>
    </div>

    <div class="blankfaq">

    </div>

    <div class="data" id="#data">
        {{returnhtml}}
        {% if result != None %}
        <img src="data:image/png;base64, {{ result }}" style="margin-left: 25%; margin-right: 25%"\>
        {% endif %}
        {% block content %}
        <table class="center">
            <tr><th>Price Date</th><th>{{datatype1}} of {{dataset1}}</th><th>{{datatype2}} of {{dataset2}}</th></tr>
                <tr><td>Predicted Value: </td><td style="color: green;">{{predicted_value}}</td><td>{{predictor_value}}</td></tr>
               {% for data in returndata %}
                  <tr><td>{{data[0]}}</td><td>{{data[1]}}</td><td>{{data[2]}}</td></tr>
               {% endfor %}
        </table>
        {% endblock %}
        <button type="button" onclick="spoiler()" id="button">Show All Results</button>
      </div>
  </body>
</html>
