<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a simple economics website">
    <title>Simple Economics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
  </head>
  <body>
    <div class="nav">
      <a href="/#" class="navelement" id="sec">Simple Economics</a>

      <div class="dropdown">
        <a id="dropbtn" class="navelement">≡</a>
        <div class="dropdown-content">
          <a href="/#query" class="navelement">QUERY our DATA</a>
          <a href="/#data" class="navelement">ABOUT the DATA</a>
          <a href="/#faq" class="navelement" id="faq">FAQ</a>
        </div>
      </div>
    </div>
<div class="grid-container">
    <div class="hero">
      <div class="herotext">
        <h1>Welcome</h1>
        <p>This is a simple economics website dedicated to analyzing the trajectory of large currencies. This site enables those interested in economic data to perform economic analysis and see economic trends using interactive graphics. </p>
      </div>
    </div>

        <div class="headerData">
          <a class="anchor" name="data"></a>
          <h2>About the Data</h2>
        </div>
        <div class="leftData">
          <h3>S&P500</h3>
          {{listOfreturnHTML[0]}}
          <div class="bodyText">
            The S&P 500 stock market index measures the stock performance of 500 different large companies in the United States of America. It is one of the most commonly followed equity indices, and many consider it to be one of the best representations of the U.S. stock market.
          </div>
        </div>
        <div class="middleLeftData">
          <h3>Bitcoin</h3>
          {{listOfreturnHTML[1]}}
          <div class="bodyText">
            Bitcoin is a cryptocurrency. It is a decentralized digital currency without a central bank or single administrator that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries.
          </div>
        </div>
        <div class="middleRightData">
          <h3>Gold Spot Price</h3>
          {{listOfreturnHTML[2]}}
          <div class="bodyText">
            The gold spot price is how much gold can be sold for on the spot, that very day. It is an indicator for the entire precious metals industry and a standard used by dealers when setting prices for consumers
          </div>
        </div>
        <div class="rightData">
          <h3>13 Week US Treasury</h3>
          {{listOfreturnHTML[3]}}
          <div class="bodyText">
            A Treasury Bill, or T-Bill, is short-term debt issued and backed by the full faith and credit of the United States government. The 13 week Treasury bill is debt obligation with a maturity of 13 weeks.
          </div>
        </div>

        <div class="query">
          <a class="anchor" name="query"></a>
          <h2>Query Our Data</h2>
          <form action="/results.html" id="queryform" method="post">
          </form>
          <p>Compare <select form="queryform" name="dataset1">
            <option value="irx">IRX</option>
            <option value="spy">S&P 500</option>
            <option value="btc">BTC</option>
            <option value="gld">GLD</option>
          </select> to <select form="queryform" name="dataset2">
            <option value="irx">IRX</option>
            <option value="spy">S&P 500</option>
            <option value="btc">BTC</option>
            <option value="gld">GLD</option>
          </select> between <input type="date" form="queryform" name="date1"required> and <input type="date" form="queryform" name="date2" required> with datatype <select form="queryform" name="datatype">
            <option value="openprice">Open Price</option>
            <option value="closeprice">Closing Price</option>
            <option value="adjcloseprice">Adjusted Closing Price</option>
            <option value="volume">Volume</option>
            <option value="highprice">High Price</option>
            <option value="lowprice">Low Price</option>
          </select> <input type="submit" value="Go" form="queryform"><div class="dropdowninfo"><a href="/#query">?</a><p>Hitting "Go" queries our datasets for the data you've requested and returns it formatted from newest values to oldest values. This query allows you to easily compare the most recent trends in two different stocks.</p></div></p>
        <form action="/analysis.html" id="analysisform" method="post">
          <p>Perform regression analysis on <select form="analysisform" name="dataset1">
            <option value="irx">IRX</option>
            <option value="spy">S&P 500</option>
            <option value="btc">BTC</option>
            <option value="gld">GLD</option>
          </select> <select form="analysisform" name="datatype1">
            <option value="openprice">Open Price</option>
            <option value="closeprice">Closing Price</option>
            <option value="adjcloseprice">Adjusted Closing Price</option>
            <option value="volume">Volume</option>
            <option value="highprice">High Price</option>
            <option value="lowprice">Low Price</option>
          </select> using <select form="analysisform" name="dataset2">
            <option value="irx">IRX</option>
            <option value="spy">S&P 500</option>
            <option value="btc">BTC</option>
            <option value="gld">GLD</option>
          </select> <select form="analysisform" name="datatype2">
            <option value="openprice">Open Price</option>
            <option value="closeprice">Closing Price</option>
            <option value="adjcloseprice">Adjusted Closing Price</option>
            <option value="volume">Volume</option>
            <option value="highprice">High Price</option>
            <option value="lowprice">Low Price</option>
          </select> as an indicator <input type="submit" value="Go" form="analysisform"><div class="dropdowninfo"><a href="/#query">?</a><p>Hitting "Go" performs linear regression analysis on the specified (first) dataset's datatype, and predicts the value of the first dataset's datatype based on an increase in the second dataset's datatype. e.g. performing regression analysis on IRX's open price using the BTC closing price will tell you the expected value of IRX's open price if the BTC closing price increases.</p></div></p>
        </form>
      </div>

        <div class="leftfaq">

        </div>

        <div class="faq">
          <a class="anchor" name="faq"></a>
          <h2>FAQ</h2>
          <h3>Why do certain results in my query have "No Data" / Why are certain dates in my results omitted?</h3>
          <p>Stocks do not report prices on Saturdays and Sundays, however, certain datasets report "null" values for these days, whereas others do not. Other datasets, such as bitcoin, report data on every day of the week. To ensure clarity in our query results, we do not omit any of the data from our datasets.</p>

          <h3>Where is this data coming from?</h3>
          <p>For this project we pulled our data from Yahoo Finance. We cleaned the datasets up, and store them on our web server to be delivered to you.</p>

          <h3>What kind of regression analysis does your query perform?</h3>
          <p>Our analysis uses the Sci-KitLearn Python Module to perform linear regression analysis using the chosen datatypes as the regressor and regressand. </p>

        </div>

        <div class="rightfaq">

        </div>

        <div class="footer">
          Simple Economics -|- Louis Ye, Nathan Hayes-Rich, John Groos -|- CS257F19
        </div>
    </div>
  </body>
</html>
