<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a simple economics website">
    <title>Simple Economics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
  </head>
  <body>
    <div class="nav">
      <a href="#" class="navelement" id="sec">Simple Economics</a>

      <div class="dropdown">
        <a id="dropbtn" class="navelement">≡</a>
        <div class="dropdown-content">
          <a href="#data" class="navelement">ABOUT the DATA</a>
          <a href="#query" class="navelement">QUERY our DATA</a>
          <a href="#faq" class="navelement" id="faq">FAQ</a>
        </div>
      </div>
    </div>
<div class="grid-container">
    <div class="hero">
      <div class="herotext">
        <h1>Welcome</h1>
        <p>This is a simple economics website dedicated to analyzing the trajectory of large currencies. This site enables those interested in economic data to perform economic analysis and see economic trends using interactive graphics. </p>
      </div>
    </div>

        <div class="headerData">
          <a class="anchor" name="data"></a>
          <h2>About the Data</h2>
        </div>
        <div class="leftData">
          <h3>S&P500</h3>
          <h4 style=color:green>8132.740234 ↑</h4>
          <div class="bodyText">
            The S&P 500 stock market index measures the stock performance of 500 different large companies in the United States of America. It is one of the most commonly followed equity indices, and many consider it to be one of the best representations of the U.S. stock market.
          </div>
        </div>
        <div class="middleLeftData">
          <h3>Bitcoin</h3>
          <h4 style="color:red">8132.740234 ↓</h4>
          <div class="bodyText">
            Bitcoin is a cryptocurrency. It is a decentralized digital currency without a central bank or single administrator that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries.
          </div>
        </div>
        <div class="middleRightData">
          <h3>Gold Spot Price</h3>
          <h4 style="color:green">8132.740234 ↑</h4>
          <div class="bodyText">
            The gold spot price is how much gold can be sold for on the spot, that very day. It is an indicator for the entire precious metals industry and a standard used by dealers when setting prices for consumers
          </div>
        </div>
        <div class="rightData">
          <h3>13 Week US Treasury</h3>
          <h4 style="color:red">8132.740234 ↓</h4>
          <div class="bodyText">
            A Treasury Bill, or T-Bill, is short-term debt issued and backed by the full faith and credit of the United States government. The 13 week Treasury bill is debt obligation with a maturity of 13 weeks.
          </div>
        </div>

        <div class="query">
          <a class="anchor" name="query"></a>
          <h2>Query Our Data</h2>
          <form action="{{ url_for('result')}}" id="queryform" method="post">
          </form>
          <p>Compare <select form="queryform" name="dataset1">
            <option value="IRX">IRX</option>
            <option value="SPY">S&P 500</option>
            <option value="BTC">BTC</option>
            <option value="GLD">GLD</option>
          </select> to <select form="queryform" name="dataset2">
            <option value="IRX">IRX</option>
            <option value="SPY">S&P 500</option>
            <option value="BTC">BTC</option>
            <option value="GLD">GLD</option>
          </select> between <input type="date" form="queryform" name="date1"> and <input type="date" form="queryform" name="date2"><input type="submit" value="Go" form="queryform"></p>
          <p>Perform regression analysis on <select>
            <option value="IRX">IRX</option>
            <option value="SPY">S&P 500</option>
            <option value="BTC">BTC</option>
            <option value="GLD">GLD</option>
          </select><button>Go</button></p>
        </div>

        <div class="data">
          {% block content %}
          {% returnhtml %}
          {% endblock %}
        </div>

        <div class="faq">
          <h2>FAQ</h2>
          <a class="anchor" name="faq"></a>
        </div>

        <div class="footer">
          Text and images are currently taken from various sources and are only placeholders until further notice- LY, NH, JG
        </div>
    </div>
  </body>
</html>
